---
import Container from "@components/container.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
 <div class="flex justify-center">
 <ul class="text-black">
 <li> A mind for Numbers - Dr Oakley </li> 
 <li>Harry Potter series </li>
<li>Witcher Series</li>
 <li>Everything is fu-ked - Mark Manson</li>
 <li>The Subtle art of not giving a fuck - Mark Manson</li>
<li>A Mathematician's Apology - G.H Hardy</li> 
 <li>Six Easy Pieces - Richard P. Feynman</li>
 <li>You^2 - Price Pritchett</li>
 <li>Prelude to Mathematics - W.W. Sawyer</li>
 <li>HBR at 100</li>
 <li>The 7 Habits of Highly Effective People - Stephen R. Covey</li>
<li>The Art Of War - Sun Tzu</li>
 <li>Think Again - Adam Grant</li>
 <li>Atomic Habits - James Clear</li>
 <li>The Infinite Game - Simon Senek</li>
 <li>Change By Design - Tim Brown</li>
 <li>Fooled By Randomness - Nassim Nicholas Taleb</li>
 <li>The Theory of Everything: The Origin and Fate of the Universe - Stephen Hawking</li>
 <li>1984 - George Orwell</li>
 <li>How to Make an Apple Pie From Scratch - Harry Cliff</li>
 <li>Letters From a Stoic - Seneca</li>
 <li>Antifragile - Nassim Nicholas taleb</li>
 <li>Skin in the Game - Nassim Nicholas Taleb</li>
 <li>Black Swan - Nassim Nicholas Taleb</li>
 <li>Meditations - Marcus Aurelius</li>
 <li>The Age of Surveillance Capitalism - Shoshana Zuboff</li>
 <li>Philosophy of Physics: Space and Time - Tim Maudlin</li>
 <li>The Conquest of New Spain - Bernal Diaz</li>
 <li>Gulag - Anne Applebaum</li>
 </ul>
 </div> 

  </Container>
</Layout>
