<footer class="my-20">
  <p class="text-center text-xl text-slate-500 mt-1">
    You can contact me at vinayak@vinayakarora.xyz
  </p>
  <p class="text-center text-sm text-slate-500">
    Uncopyrighted © {new Date().getFullYear()} Vinayak Arora.
  </p>
  <p class="text-center text-sm text-slate-500">
    Original template from web3 templates
  </p>
  
</footer>
